<section id="tab3" class="container esconder">

    <div class="row" id="peticionesContactos">

    </div>
    <div class="divTituloMisContactos">
        <h4 style="margin-left:40px;  font-size:25px;"> Tus contactos</h4>
    </div>

    <div class="row" id="divContenedorContactos">

    </div>
    <div class="enviarMensaje esconder">
        <div class="divMensaje" class="esconder">
            <div class="row infoContactoEnviarMensaje" >
                <div class="col-xs-4">
                    <img class="imgPerfilMensaje"  src="../img/fotoPerfil.png">
                </div>
                <div class="col-xs-8" style="margin-top:20px">
                  <div class="infoContacto">
                    <p class="nombreCompletoContactoEnviarMensaje"></p>
                    <p class="aliasContactoEnviarMensaje"></p>
                </div>
            </div>
        </div>
        <div class="row" id="divCuerpoDivMensajes">
            <div class="col-xs-10">
                <textarea id="ContenidoMensaje" style="width:99%; height:100px;  border:black 1px solid;" > </textarea>
            </div>

        </div>
        <div class="row" id="botonesDivMensajes" >
            <div class="col-md-12" id="divBtnDivMensaje">
                <button type="button" class="btn btn-default btnCancelarMensajeBD"> Cancelar</button>
                <button type="button" class="btn btn-default btnEnviarMensajeBD"> Enviar</button>
            </div>
        </div>

    </div>
</div>
</section>
