<section id="tab2" class="container esconder">
   <div class="divTituloMisContactos" style="border-bottom: gainsboro solid 1px; margin:40px 0 40px 0;">
        <h4 style="margin-left:40px;  font-size:25px;"> Contactos de @<%= user.alias %></h4>
    </div>
    <div class="row" id="divContenedorContactoUsuarios">
        
    </div>

</section>
