<section id="tab0" class="container">
    <div style="border-bottom: gainsboro solid 1px; margin:40px 0 40px 0;">
        <h4 style="margin-left:40px;  font-size:25px;"> Publicaciones de @<%= user.alias %></h4>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8"  id="divContenedorPublicacionesUsuario">
        </div>
        <div class="col-md-2"></div>
    </div>
</section>
